
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
}

/*header navbar */
.nav-head{
    width:128px;
    font-weight:bold;
    color: #0D1321;
    margin-left: 100px;
}
.nav-class{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav-btn{
    border-color:#0D1321; 
    border-radius: 8px;  
    padding:15px 35px ;
    font-size: 15px;
    margin-right: 100px;
    
}

/* mainpart */

.banner{
    background-image: url(./assets/Hero-bg.png);
    height: 650px;
    background-position: center;
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: center; 
}
img{
    display:block;
    margin: auto;
    width: 20%;;
 
}


.div-h1{
    font-family: monospace;
    color: #0D1321;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    letter-spacing:0%;
   
}
.div-p{
    text-align: center;
    color: #0D1321;
    margin-top: 10px;

}
.btn{
    border-color:#0D1321; 
    border-radius: 8px;  
    padding:15px 35px ;
    font-size: 15px;
    display: block;
    margin:auto;
    background-color: #0D1321;
    color: #FFFFFF;
    margin-top:10px;

}


/* 2nd section */
h1{
    margin: auto;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    font-family: monospace;

}
.just-p{
    text-align: center;
}


/* 3rd section */

.sec{
    position: absolute;
    
  
    position: absolute;
    width:  50%;
    left: 20%;

    /* margin-top: 5%; */
    /* margin:150px auto; */
  
}
.div-control{
    margin-top: 10%;
}
.sec-image{
  float: right;
  max-width: 320px;
}
.box-h1{
    color:#0D1321;
    font-size:30px ;
}
.div-pi{
    font-size: 15px;
    margin-top: 10px;
}
.but{
    margin-top: 10px;
    padding:10px 30px ;
    font-size: 15px;
    display: block;
    margin-top:10px;
    
}

------------------------------
/* .sec2{
 
    display: flex;
    position: absolute;
    width:  60%;
    left: 20%;

} */
.div-control2{
    margin-top: 10%;
}

.sec-image2{
    float:left;
    max-width: 320px;
  }
  .box-h2{
      color:#0D1321;
      font-size:30px ;
  }
  .div-pi2{
      font-size: 15px;
      margin-top: 10px;
  }
  .but2{
      margin-top: 10px;
      padding:10px 30px ;
      font-size: 15px;
      display: block;
      margin-top:10px;
      
  }
  /* .pera{
   display: block;
   padding:20px 20px 20px 20px;
  
  } */


  ---------------------
  /* .sec3{
 
    display: flex;
    position: absolute;
    width:  60%;
    left: 20%;

} */
.div-control3{
    margin-top: 10%;
}

.sec-image3{
    float:right;
    max-width: 320px;
  }
  .box-h3{
      color:#0D1321;
      font-size:30px ;
  }
  .div-pi3{
      font-size: 15px;
      margin-top: 10px;
  }
  .but3{
      margin-top: 10px;
      padding:10px 30px ;
      font-size: 15px;
      display: block;
      margin-top:10px;
      
  }
  /* .pera3{
   display: block;
   padding:20px 20px 20px 20px;
  
  } */


  -----------------------
  .all-control{
    margin-top: 15px;
  }

  .all-control2{
    margin-top: 15%;
  }
  .all-control3{
    margin-top: 15%;
  }
  /* }
  .pera2{
    margin-left: 50% ;
  } */
  .pera{
    margin-left:50%;
  }
  /* .div-write{
    margin-left: 50%;
  } */